
body{
    display: flex;
    flex-direction: column;
    background: #2e2d2d;
    min-height: 100vh;
    justify-content:flex-start;
}

.header{
    display: flex;
    height: 7vh;
    max-height: 100px;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.911);
    align-items: flex-end;
    position:sticky;
    top:0;
    justify-content: space-between;
    width: 100%;
}


.blackLogo{
    width: 15vmin;
    max-width: 250px;

}


.footer{
    margin-bottom: 0;
    margin-top: auto;
    background-color: black;
    color: white;
}

#landing_signin, #keepGoing{
    background-color: cyan;
    width: fit-content;    
    height: 3vh;
    font-size: 1vh;
    justify-self: right;
    max-height: 2em;
}

#landing_signin:hover, #keepGoing:hover{
    background-color: magenta;
    cursor: pointer;
}


.presentation{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 11vmin;
    margin-right: 1vh;
    flex-grow: 1;
    margin-bottom: 5vh;
}

.structuring{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#sidebar{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 10vmin;
    max-width: 150px;
    background-color: black;
    color: white;
    position:fixed;
    font-size: 1vh;
}

#sidebar a{
    color: cyan;
    text-decoration: none;
    font-size:x-large;
    width:fit-content ;
}

.blog{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    margin-top: 5vmin;
}

.blog h2{
    font-size: calc(16px + 1.5vmin);
    max-width: 70vmin;
    text-align: center;
}

.blog p{
    width: 80vmax;
    max-width: 75vmin;
    text-indent: 3vh;
    font-size: calc(12px + 1.5vmin);
    max-height: 50vmin;
    overflow: auto;
}

.button:hover{
    transform: scale(1.25);
}

header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}


header{
    margin-top: 5%;
}

main h4{
    margin-left: 12%;
    margin-top: 5%;
    color: cyan;
}

main, section{
    margin-left: 37.5%;
    margin-top: 5%;
}

h3{
    font-size: 30px;
    font-weight: bolder;
    color: white;
}

.sign-in{
    width: 330px;
    padding:20px;
}

.button{
    width: 375px;
    padding: 15px;
    background-color: cyan;
    color: black;
}

header h1, header p{
    color: white;
}



.landing{
    text-align: center;
    color: white;
}
.label{
    color: white;
    font-size: 15px;
}

footer{
    margin-top: 20%;
    text-align: center;
}





figure h5{
    color: white;
}


figure table, figure h4{
    margin-left: 35%;
}

figure h4{
    color: cyan;
}

.logos{
    margin-left:43%;
}



.centered{
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

div h4{
    color: cyan;
}
section{
    margin-left: 35%;
}

#page-finder{
    margin-left: 0;
    margin-bottom: 0;
    position: fixed;
}